<div class="row" *ngIf="budget">
  <div class="col">
    <h4>Current Budget</h4>
  </div>
  <div class="col h4 text-end">
    <span [ngClass]="budgetDifference < 0 ? 'text-danger' : 'text-success'">{{budgetDifference | currency: 'USD':'symbol'}}</span>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <app-currentBudget [budget]="budget"
        (notifyParentEditExpense)="editExpense($event)"
        (notifyParentRemoveExpense)="removeExpenseModal($event)"
        (notifyParentEditIncomeSource)="editIncomeSource($event)"
        (notifyParentRemoveIncomeSource)="removeIncomeSourceModal($event)"
    ></app-currentBudget>

    <div class="row mb-3">
      <div class="col">
        <button id="addExpenseBtn" type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#expenseModal">Add Expense</button>
        <button id="addIncomeBtn" type="button" class="btn btn-outline-primary ms-3" data-bs-toggle="modal" data-bs-target="#incomeSourceModal">Add Income Source</button>
      </div>
    </div>
    
    <!-- Modals -->
    <div class="modal fade" id="expenseModal" aria-labelledby="expenseModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="expenseModalLabel">Add Expense</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <input type="hidden" id="expenseId" [(ngModel)]="expenseId" name="expenseId">
            <div class="form-group row mb-3">
              <div class="col">
                <label for="expenseName">Expense Title:</label>
                <input type="text" id="expenseName" class="form-control" [(ngModel)]="expenseName" name="expenseName" required autofocus>
              </div>
              <div class="col">
                <label for="expenseAmount">Amount:</label>
                <div class="input-group">
                  <span class="input-group-text">$</span>
                  <input type="text" id="expenseAmount" class="form-control" [(ngModel)]="expenseAmount" name="expenseAmount" required>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button #addOrUpdateExpenseButton type="button" class="btn btn-primary actionButton" data-updating="false" (click)="addOrUpdateExpense(addOrUpdateExpenseButton)">Add</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="incomeSourceModal" aria-labelledby="incomeSourceModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="expenseModalLabel">Add Income Source</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <input type="hidden" id="incomeSourceId" [(ngModel)]="incomeSourceId" name="incomeSourceId">
            <div class="form-group row mb-3">
              <div class="col">
                <label for="incomeSourceName">Income Source Title:</label>
                <input type="text" id="incomeSourceName" class="form-control" [(ngModel)]="incomeSourceName" name="incomeSourceName" required autofocus>
              </div>
              <div class="col">
                <label for="incomeSourceAmount">Amount:</label>
                <div class="input-group">
                  <span class="input-group-text">$</span>
                  <input type="text" id="incomeSourceAmount" class="form-control" [(ngModel)]="incomeSourceAmount" name="incomeSourceAmount" required>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button #addOrUpdateIncomeSourceButton type="button" class="btn btn-primary actionButton" data-updating="false" (click)="addOrUpdateIncomeSource(addOrUpdateIncomeSourceButton)">Add</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="removeExpenseConfirmationModal" aria-labelledby="removeExpenseConfirmationModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="removeExpenseConfirmationModalLabel">Delete confirmation</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <input type="hidden" id="removeExpenseId" [(ngModel)]="removeExpenseId" name="removeExpenseId">
            <p>Are you sure you wish to delete your "{{ removeExpenseName }}" expense?</p>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button #removeExpenseButton type="button" class="btn btn-danger actionButton" (click)="removeExpense()">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="removeIncomeSourceConfirmationModal" aria-labelledby="removeIncomeSourceConfirmationModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="removeIncomeSourceConfirmationModalLabel">Delete confirmation</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <input type="hidden" id="removeIncomeSourceId" [(ngModel)]="removeIncomeSourceId" name="removeIncomeSourceId">
            <p>Are you sure you wish to delete your "{{ removeIncomeSourceName }}" income source?</p>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button #removeIncomeSourceButton type="button" class="btn btn-danger actionButton" (click)="removeIncomeSource()">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
